<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-' + variant">
  <div [fxLayout]="vertical ? 'column' : 'row wrap'">
    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
      <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
        <mat-label>Tipo de oferta</mat-label>
        <mat-select placeholder="Seleccionar tipo de oferta" formControlName="offer">
          <mat-option [value]="'Venta'">Venta</mat-option>
          <mat-option [value]="'Arriendo'">Arriendo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
      <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
        <mat-label>Tipo de propiedad</mat-label>
        <mat-select placeholder="Seleccionar tipo de propiedad" formControlName="propertyType">
          <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
            {{ propertyType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
      <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
        <mat-label>Estado de la propiedad</mat-label>
        <mat-select placeholder="Seleccione el estado de la propiedad" formControlName="propertyStatus">
          <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus">
            {{ propertyStatus.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="price">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="45">
          <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
            <mat-label>{{ variant == 1 ? 'Precio' : 'Precio Desde' }}</mat-label>
            <input matInput currencyMask autocomplete="off" placeholder="Desde" formControlName="from" type="text" onlyNumber />
          </mat-form-field>
        </div>
        <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
          <mat-icon class="text-muted">remove</mat-icon>
        </div>
        <div fxFlex="45">
          <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
            <mat-label>{{ variant == 1 ? '' : 'Precio Hasta' }}</mat-label>
            <input matInput currencyMask autocomplete="off" placeholder="Hasta" formControlName="to" type="text" onlyNumber />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="showMore" [fxLayout]="vertical ? 'column' : 'row wrap'" class="w-100">
      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
          <mat-label>Ciudad</mat-label>
          <mat-select placeholder="Seleccione Ciudad..." formControlName="city" (selectionChange)="onSelectCity()">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
          <mat-label>Zona - Localidad</mat-label>
          <mat-select placeholder="Seleccione Localidad..." formControlName="zone" (selectionChange)="onSelectZone()">
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
          <mat-label>Barrio</mat-label>
          <mat-select placeholder="Seleccione Barrio..." formControlName="neighborhood" (selectionChange)="onSelectNeighborhood()">
            <mat-option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood">
              {{ neighborhood.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="rooms">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? 'Habitaciones' : 'Habitaciones Desde' }}</mat-label>
              <mat-select placeholder="Desde" formControlName="from">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
            <mat-icon class="text-muted">remove</mat-icon>
          </div>
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? '' : 'Habitaciones Hasta' }}</mat-label>
              <mat-select placeholder="Hasta" formControlName="to">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="baths">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? 'Baños' : 'Baños Desde' }}</mat-label>
              <mat-select placeholder="Desde" formControlName="from">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
            <mat-icon class="text-muted">remove</mat-icon>
          </div>
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? '' : 'Baños Hasta' }}</mat-label>
              <mat-select placeholder="Hasta" formControlName="to">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="garages">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? 'Garajes' : 'Garajes Desde' }}</mat-label>
              <mat-select placeholder="Desde" formControlName="from">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
            <mat-icon class="text-muted">remove</mat-icon>
          </div>
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? '' : 'Garages Hasta' }}</mat-label>
              <mat-select placeholder="Hasta" formControlName="to">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="area">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? 'Area Mt²' : 'Area Mt² Desde' }}</mat-label>
              <input matInput autocomplete="off" placeholder="Desde" formControlName="from" type="text" onlyNumber />
            </mat-form-field>
          </div>
          <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
            <mat-icon class="text-muted">remove</mat-icon>
          </div>
          <div fxFlex="45">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
              <mat-label>{{ variant == 1 ? '' : 'Area Mt² Hasta' }}</mat-label>
              <input matInput autocomplete="off" placeholder="Hasta" formControlName="to" type="text" onlyNumber />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="yearBuilt">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Year Built' : 'Fear Built From'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber maxlength="4">
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Year Built To'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber maxlength="4">
                        </mat-form-field>
                    </div>
                </div>

            </div> -->

      <div fxFlex="100" class="mb-2">
        <p class="uppercase m-2 fw-500">Características</p>
        <div formArrayName="features" [fxLayout]="vertical ? 'column' : 'row wrap'">
          <div [formGroupName]="i" *ngFor="let control of form['controls'].features['controls']; index as i" class="p-2">
            <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" [fxLayout]="vertical ? 'column' : 'row wrap'">
              <mat-checkbox color="primary" formControlName="selected">{{ features[i].name }}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="p-2">
    <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button>
    <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">
      {{ (showMore ? 'BTN.HIDE' : 'BTN.ADVANCED') | translate }}
    </button>
    <button mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"><mat-icon>search</mat-icon> Buscar</button>
  </div>
</form>
