<div class="px-3">
  <div class="theme-container alc al-c">
    <mat-sidenav-container class="single-property mt-3">
      <mat-sidenav-content ngClass.gt-sm="distance">
        <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div>
            <h2 class="uppercase title" ngClass.xs="">{{ property?.title }}</h2>
            <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
              <mat-icon class="text-muted">location_on</mat-icon>
              <span>
                {{ property?.formatedAddress }}
              </span>
            </p>
          </div>
          <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-3">
            <h2 class="primary-color price">
              <!-- <span>{{ property?.priceCurrent | currency: 'COL':'symbol':'1.0' }}</span> -->
            </h2>

            <!-- <app-rating [ratingsCount]="property?.ratingsCount" [ratingsValue]="property?.ratingsValue"></app-rating> -->
          </div>
          <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card>

        <mat-card class="mt-3">
          <div class="main-carousel mb-3">
            <div *ngIf="property" class="control-icons">
              <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()" matTooltip="Add To Favorite">
                <mat-icon class="">favorite_border</mat-icon>
              </button>
              <button mat-button [disabled]="onCompare()" (click)="addToCompare()" matTooltip="Add To Compare">
                <mat-icon class="">compare_arrows</mat-icon>
              </button>
            </div>
            <div id="main-carousel" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)">
              <div class="swiper-wrapper">
                <div *ngFor="let image of property?.photos" class="swiper-slide">
                  <img [attr.data-src]="this.urlBack + '/' + image.pathName" class="swiper-lazy" />
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </div>
              <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
              <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
          </div>
          <div class="small-carousel">
            <div id="small-carousel" class="swiper-container" [swiper]="config2">
              <div class="swiper-wrapper">
                <div
                  *ngFor="let image of property?.photos; let i = index"
                  class="swiper-slide"
                  [ngClass]="'thumb-' + i"
                  [class.active-thumb]="i == 0"
                >
                  <img [attr.data-src]="this.urlBack + '/' + image.pathName" class="swiper-lazy mw-100" (click)="selectImage(i)" />
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
        <div class="al-l">
          <mat-card *ngIf="property" class="mt-3">
            <mat-card-header fxLayoutAlign="center center">
              <mat-card-title class="uppercase">Detalles</mat-card-title>
            </mat-card-header>
            <div fxLayout="row wrap" class="details">
              <div class="container-details alc al-c">
                <div class="details-prop alc al-c">
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span class="right">Tipo de propiedad:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property?.type.name }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span class="right">Estado:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property?.infoProperty.stateProperty.name }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span class="">Ciudad:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.location.neighborhood.zone.city.name }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Código Postal:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.location.zipCode }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Barrio:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.location.neighborhood.name }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Habitaciones:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.infoProperty.rooms }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Baños:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.infoProperty.baths }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Garajes:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.infoProperty.garages }}</span>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span>Area Mts²:</span>
                    </div>
                    <div class="item-property list">
                      <span>{{ property.infoProperty.area }}</span>
                    </div>
                  </div>
                  <!-- div vacion para guardar proporciones y manetener estetica -->
                  <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" class="item alc al-c">
                    <div class="title-property">
                      <span></span>
                    </div>
                    <div class="">
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <mat-card class="mt-3">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title class="uppercase">Caracteristicas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row wrap">
              <div *ngFor="let feature of property?.infoProperty.features" fxFlex="100" fxFlex.gt-xs="33.3">
                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                <span class="mx-2">{{ feature.name }}</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- <mat-card class="mt-3">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title class="uppercase">Description</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ property?.desc }}</p>
            <p>{{ property?.desc }}</p>
            <p>{{ property?.desc }}</p>
          </mat-card-content>
        </mat-card> -->

        <mat-card class="mt-3">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title class="uppercase">Ubicacion</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <agm-map
              [latitude]="property?.location.lat"
              [longitude]="property?.location.lng"
              [zoom]="zoom"
              [mapTypeControl]="true"
              [fullscreenControl]="true"
            >
              <agm-marker [latitude]="property?.location.lat" [longitude]="property?.location.lng" [markerDraggable]="false"></agm-marker>
            </agm-map>
          </mat-card-content>
        </mat-card>

        <mat-card class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <span>
            Publicado:
            <span class="fw-500 mx-2">{{ property?.createAt | date: 'dd MMMM, yyyy' }} </span>
          </span>
          <span>
            Ultima Actualización:
            <span class="fw-500 mx-2">{{ property?.updateAt | date: 'dd MMMM, yyyy' }}</span>
          </span>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<!-- TODO;
descomentarear
-->
<!-- <div class="section mt-3">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">Related properties</h1>
      <app-properties-carousel [properties]="relatedProperties"></app-properties-carousel>
    </div>
  </div>
</div> -->

<app-get-in-touch></app-get-in-touch>
